.bt{
    margin-top: auto;
    margin-bottom: auto;
}


.botao{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    

}
.btn-purple{
    background: purple;
    color: white;
    box-shadow: 0 5px 0 rgb(70, 14, 70);
    
}
.btn-purple:hover{
    background: rgb(54, 2, 54);
    color: white;
    box-shadow: 0 5px 0 rgb(70, 14, 70);
}
.btn-purple:active{
    position: relative;
    top: 5px;
    box-shadow: none}
